body {
    background-color: #233d4d;
}


/* Styles for Mobile Site */

/* Header & Hero */
h1 {
    font-size: 75pt;
    text-align: center;
}

/* Projects */

/* Reviews */

/* Footer */


/* Media state for Desktop site */
@media (min-width: 100opx) {}

/* Header & Hero */
h1 {
    font-size: 75pt;
    text-align: center;
}

/* Projects */
img {
    width: 500px;
    height: 300px;
    text-align: center;
    display: block;
    margin: 100px auto;
    width: 1000px;
    height: auto;

}

h1 {
    font-size: 70pt;
    text-align: center;

}

/* Reviews */

/* Footer */
footer {
    color: white;
    border: 2px solid #fcca46;
    background-color: #fe7f2d;
    text-align: center;
    padding: 10px;
}